<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.allat.mboychenko.silverthread">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
            android:name=".AllatRaApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <service
                android:name=".presentation.services.FileLoaderService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:enabled="true"
                android:exported="false">
        </service>
        <service
                android:name=".presentation.services.UpdateBeforeTimerJob"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:enabled="true"
                android:exported="false">
        </service>
        <service
                android:name=".presentation.services.AllatRadioService"
                android:enabled="true"
                android:exported="false">
        </service>

        <activity
                android:name=".presentation.views.activities.MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>
        <activity
                android:name=".presentation.views.activities.WebViewActivity"
                android:launchMode="singleTask"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".presentation.views.activities.BookReaderActivity"
                android:launchMode="singleInstance"
                android:theme="@style/AppTheme.NoActionBar"/>

        <receiver
                android:name=".presentation.receivers.AlarmsResetReceiver"
                android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name=".presentation.receivers.TimerExpiredReceiver"
                android:enabled="true"
                android:exported="false"/>
        <receiver
                android:name=".presentation.receivers.RadioNotificationActionReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="com.allat.mboychenko.silverthread.notifications.radio.stop"/>
                <action android:name="com.allat.mboychenko.silverthread.notifications.radio.pause"/>
                <action android:name="com.allat.mboychenko.silverthread.notifications.radio.resume"/>
                <action android:name="com.allat.mboychenko.silverthread.notifications.radio.start"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>